<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HE2TemplateName</key>
	<string>fancyBox</string>
	<key>HE2MaxThumbWidth</key>
	<integer>100</integer>
	<key>HE2MaxThumbHeight</key>
	<integer>150</integer>
</dict>
</plist>
